<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,lcov,opencover</Format>
          <ExcludeByFile>
            **/Program.cs;
            **/Migrations/**/*.cs;
            **/Migrations/*.cs;
            Ensek/Data/Migrations/*.cs;
            Ensek/Data/Migrations/**/*.cs
          </ExcludeByFile>
          <Exclude>
            [Ensek]Program
            [xunit.*]*
            [FluentAssertions.*]*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
